@namespace NTComponents
@using NTComponents.Core
@inherits TnTComponentBase
@implements IDisposable

<div @attributes="AdditionalAttributes"
     class="@CssClassBuilder.Create(ElementClass ?? string.Empty).AddClass("tnt-active", _context.IsTabSelected(this)).Build()"
     style="@ElementStyle"
     title="@ElementTitle"
     id="@PanelDomId"
     lang="@ElementLang"
     name="@ElementName"
     role="tabpanel"
     aria-labelledby="@HeaderElementId"
     hidden="@(!_context.IsTabSelected(this))"
     tabindex="0"
     @ref="Element">
    @ChildContent
</div>
