@using Microsoft.AspNetCore.Components.Sections
@using NTComponents.Core
@inherits TnTPageScriptComponent<TnTTabView>
@namespace NTComponents

<tnt-tab-view @attributes=AdditionalAttributes class="@ElementClass" style="@ElementStyle" @ref="Element" data-permanent>
	<CascadingValue Value="this" IsFixed="true">
		<DeferRendering>
			<div class="@(CssClassBuilder.Create().AddClass("tnt-tab-view-header").AddFilled().AddForegroundColor(HeaderTextColor).AddBackgroundColor(HeaderBackgroundColor).Build())">
				<span class="tnt-tab-view-header-buttons" id="@TabListElementId" role="tablist" aria-orientation="horizontal">

					@foreach (var pair in _tabChildren.Select((child, index) => new { child, index })) {
						var child = pair.child;
						var index = pair.index;
						var isSelected = index == InitialActiveIndex;
						<button type="button"
								title="@child.ElementTitle"
								id="@child.HeaderElementId"
								role="tab"
								aria-selected="@(isSelected ? "true" : "false")"
								aria-controls="@child.PanelDomId"
								tabindex="@(isSelected ? "0" : "-1")"
								class="@(CssClassBuilder.Create().AddClass("tnt-tab-view-button").AddClass("tnt-active", isSelected).AddClass("tnt-interactable").AddRipple().AddDisabled(child.Disabled).Build())"
								style="@(CssStyleBuilder.Create().AddVariable("tnt-tab-header-background-color", HeaderBackgroundColor).AddVariable("tnt-tab-header-text-color", HeaderTextColor).AddVariable("tnt-tab-header-tint-color", HeaderTintColor).Build())"
								disabled="@(child.Disabled ? true : null)"
								data-tab-index="@index"
								@key="index">
							@if (Appearance == TabViewAppearance.Primary) {
								@child.Icon?.Render()
							}
							@child.Label

							<TnTRippleEffect />

							@if (child.HeaderTooltip is not null) {
								<TnTTooltip BackgroundColor="@HeaderBackgroundColor" TextColor="@HeaderTextColor">
									@child.HeaderTooltip
								</TnTTooltip>
							}
						</button>
					}
				</span>
				<span class="@(CssClassBuilder.Create().AddClass("tnt-tab-view-active-indicator").Build())" style="@CssStyleBuilder.Create().AddBackgroundColor(ActiveIndicatorColor).Build()"></span>
			</div>
		</DeferRendering>
		@ChildContent
	</CascadingValue>
</tnt-tab-view>
@PageScript
