@namespace NTComponents
@using NTComponents.Core
@inherits TnTComponentBase

<span @attributes="AdditionalAttributes"
      class="@ElementClass"
      style="@ElementStyle"
      title="@ElementTitle"
      id="@ElementId"
      lang="@ElementLang"
      @ref="Element">
    <span class="nt-tag-label">@Label</span>
</span>
