@namespace NTComponents
@using NTComponents.Core
@inherits NTComponentBase

<div @attributes="AdditionalAttributes"
     class="@ElementClass"
     style="@ElementStyle"
     id="@ElementId"
     lang="@ElementLang"
     title="@ElementTitle"
     data-nt-animation="true"
     data-nt-animation-animate-out="@AnimateOut.ToString().ToLowerInvariant()"
     data-nt-animation-once="@Once.ToString().ToLowerInvariant()"
     data-nt-animation-threshold="@ThresholdValue"
     data-nt-animation-root-margin="@RootMargin"
     @ref="Element">
    @ChildContent
</div>

<NTPageScript Src="@JsModulePath" />
