@using NTComponents.Core

<div @attributes="Child.AdditionalAttributes"
	 class="@Child.ElementClass"
	 style="@Child.ElementStyle"
	 id="@Child.ElementId"
	 lang="@Child.ElementLang"
	 title="@Child.ElementTitle"
	 name="@Child.ElementName"
	 data-accordion-child="true"
	 data-accordion-child-id="@Child._elementId"
	 @key="Child._elementId">
	<h3 class="tnt-accordion-child-heading">
		<button type="button"
				id="@Child.HeaderElementId"
				class="@CssClassBuilder.Create().AddRipple().AddClass("tnt-interactable").AddDisabled(Child.Disabled).Build()"
				style="@CssStyleBuilder.Create().AddVariable("tnt-accordion-child-header-bg-color", Child.HeaderBodyColor ?? _parent.HeaderBodyColor).AddVariable("tnt-accordion-child-header-fg-color", Child.HeaderTextColor ?? _parent.HeaderTextColor).AddVariable("tnt-accordion-child-header-tint-color", Child.HeaderTintColor ?? _parent.HeaderTintColor).Build()"
				data-permanent
				data-accordion-header="true"
				data-accordion-child-id="@Child._elementId"
				aria-expanded="@(Child._open == true ? "true" : "false")"
				aria-controls="@Child.ContentElementId"
				disabled="@Child.Disabled"
				onclick="NTComponents.toggleAccordionHeader(event)">
			<span class="tnt-accordion-child-label">
				@if (Child.HeaderTemplate is not null) {
					@Child.HeaderTemplate
				}
				else {
					@Child.Label
				}
			</span>
			@if (Child.EnableRipple) {
				<TnTRippleEffect />
			}
			<MaterialIcon Icon="@MaterialIcon.ArrowDropDown" />
		</button>
	</h3>

	<div id="@Child.ContentElementId"
		 class="@CssClassBuilder.Create().AddClass("tnt-expanded", Child._open == true).AddClass("tnt-collapsed", Child._open == false).Build()"
		 data-accordion-content="true"
		 role="region"
		 aria-labelledby="@Child.HeaderElementId"
		 aria-hidden="@(Child._open == true ? "false" : "true")">
		@if (!Child.RemoveContentOnClose || Child._open != false) {
			@Child.ChildContent
		}
	</div>
</div>
