@namespace NTComponents
@using NTComponents.Core
@inherits NTComponentBase

<div @attributes="AdditionalAttributes"
     class="@ElementClass"
     style="@ElementStyle"
     title="@ElementTitle"
     lang="@ElementLang"
     id="@ElementId"
     role="separator"
     aria-orientation="@AriaOrientation"
     @ref="Element">
</div>
