@namespace NTComponents
@using NTComponents.Layout
@inherits NTLayoutComponentBase

@switch (ResolvedTag) {
    case NTLayoutTag.Div:
        <div @attributes="ElementAttributes" @ref="Element">@ChildContent</div>
        break;
    case NTLayoutTag.Article:
        <article @attributes="ElementAttributes" @ref="Element">@ChildContent</article>
        break;
    case NTLayoutTag.Aside:
        <aside @attributes="ElementAttributes" @ref="Element">@ChildContent</aside>
        break;
    case NTLayoutTag.Footer:
        <footer @attributes="ElementAttributes" @ref="Element">@ChildContent</footer>
        break;
    case NTLayoutTag.Header:
        <header @attributes="ElementAttributes" @ref="Element">@ChildContent</header>
        break;
    case NTLayoutTag.Main:
        <main @attributes="ElementAttributes" @ref="Element">@ChildContent</main>
        break;
    case NTLayoutTag.Section:
        <section @attributes="ElementAttributes" @ref="Element">@ChildContent</section>
        break;
    default:
        <div @attributes="ElementAttributes" @ref="Element">@ChildContent</div>
        break;
}
