@using NTComponents.Core
@namespace NTComponents
@inherits TnTComponentBase

<nt-carousel-item @attributes="AdditionalAttributes"
                    class="@ElementClass"
                    style="@ElementStyle"
                    id="@ElementId"
                    title="@ElementTitle"
                    lang="@ElementLang"
                    role="group"
                    aria-roledescription="slide"
                    aria-label="@AriaLabel"
                    data-carousel-aria-label="@AriaLabel"
                    aria-disabled="@(Disabled ? "true" : null)"
                    tabindex="0"
                    data-carousel-item
                    data-aspect-ratio="@(AspectRatio?.ToString(System.Globalization.CultureInfo.InvariantCulture))"
                    data-clickable="@OnClickCallback.HasDelegate.ToString().ToLowerInvariant()"
                    data-disabled="@Disabled.ToString().ToLowerInvariant()"
                    @ref="Element">
    <div class="nt-carousel-item-mask">
        <div class="nt-carousel-item-media" style="@MediaStyle" aria-hidden="true">
            @MediaContent
        </div>
        <div class="nt-carousel-item-content" @onclick="@OnClickCallback">
            @ChildContent
        </div>
        @if (OnClickCallback.HasDelegate && EnableRipple && !Disabled) {
            @NTRipple.Render("nt-button-ripple-host nt-carousel-ripple-host")
        }
    </div>
</nt-carousel-item>
