@using System.Globalization
@using NTComponents.Core
@namespace NTComponents
@inherits NTPageScriptComponent<NTCarousel>

<CascadingValue Value="this" IsFixed="true">
    <nt-carousel @attributes="AdditionalAttributes"
                   class="@ElementClass"
                   style="@ElementStyle"
                   role="@Role"
                   aria-roledescription="carousel"
                   aria-label="@AriaLabel"
                   data-layout="@LayoutName"
                   data-allow-dragging="@AllowDragging.ToString().ToLowerInvariant()"
                   data-snap="@EnableSnapping.ToString().ToLowerInvariant()"
                   data-auto-play-interval="@(AutoPlayInterval?.ToString(CultureInfo.InvariantCulture))"
                   data-max-large-width="@(MaxLargeItemWidth?.ToString(CultureInfo.InvariantCulture))"
                   data-preferred-item-width="@PreferredItemWidth.ToString(CultureInfo.InvariantCulture)"
                   @ref="Element">
        @if (AutoPlayInterval.HasValue) {
            <button type="button" class="nt-carousel-autoplay-control" data-autoplay-control aria-label="Pause rotation">
                Pause rotation
            </button>
        }
        <div class="nt-carousel-viewport" data-carousel-viewport aria-live="off">
            <div class="nt-carousel-track" data-carousel-track>
                @ChildContent
            </div>
        </div>
    </nt-carousel>
</CascadingValue>
@PageScript
