@namespace NTComponents
@using NTComponents.Core
@inherits TnTPageScriptComponent<NTTooltip>

<nt-tooltip @attributes="AdditionalAttributesWithoutInternalId" class="@ElementClass" style="@ElementStyle" id="@ResolvedElementId" title="@ElementTitle" lang="@ElementLang" role="tooltip" aria-hidden="true" @ref="Element" data-permanent>
    <div class="nt-tooltip-content">
        @ChildContent
    </div>
</nt-tooltip>
@PageScript
