<TnTSideNav class="docs-nav">
    <div class="docs-nav-header">
        <MaterialIcon Icon="menu_book" />
        <span>Documentation</span>
    </div>

    <TnTSideNavLink href="" Match="NavLinkMatch.All" Icon="@MaterialIcon.Home">
        Home
    </TnTSideNavLink>
    <TnTSideNavLink href="docs" Icon="@MaterialIcon.MenuBook">
        Docs
    </TnTSideNavLink>
    <TnTSideNavMenuGroup Label="Reference" Icon="@MaterialIcon.LibraryBooks">
        <TnTSideNavLink href="docs/components" Icon="@MaterialIcon.Widgets">
            Components
        </TnTSideNavLink>
        <TnTSideNavLink href="docs/api" Icon="@MaterialIcon.Api">
            API Reference
        </TnTSideNavLink>
    </TnTSideNavMenuGroup>
    <TnTSideNavMenuGroup Label="Tools" Icon="@MaterialIcon.Tune">
        <TnTSideNavLink href="docs/theming" Icon="@MaterialIcon.Palette">
            Theming
        </TnTSideNavLink>
        <TnTSideNavLink href="tools/theme-converter" Icon="@MaterialIcon.Tune">
            Theme Converter
        </TnTSideNavLink>
    </TnTSideNavMenuGroup>
</TnTSideNav>
